* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#background {
  background-image: url(./Images/Planet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
#floor {
  /* display: flex; */
  border: 1px solid aqua;
  width: 45vw;
  height: 11vh;
}

#bottomFloor {
  border: 1px solid aqua;
  width: 30vw;
  height: 3%;
}
#endFloor {
  border: 1px solid aqua;
  width: 26vw;
  height: 15vh;
}
.actionPart {
  border: 1px solid rgb(251, 0, 255);
  width: 100vw;
  height: 45vh;
  position: absolute;
  margin-bottom: 11vh;
}

.lifeAndScore {
  color: white;
  border: 1px solid rgb(21, 255, 0);
  width: 15vw;
  height: 15vh;
  position: absolute;
  margin-bottom: 80vh;
  flex-direction: row-reverse;
}

.hero {
  position: absolute;
  /* height: 7rem; */
  width: 6rem;
  aspect-ratio: 1;
  /* border-radius: 100vh; */
  /* border: 2px solid black; */
  /* top: calc(89vh - 5rem); */
  left: 0px;
  /* background-color: red; */
  background-image: url(./Images/Run.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 11vh;
}
.zombie {
  position: absolute;
  /* height: 6rem; */
  width: 6rem;
  aspect-ratio: 1;
  /* border-radius: 100vh; */
  /* border: 2px solid black; */
  /* top: calc(89vh - 5rem); */
  left: 0px;
  /* background-color: red; */
  background-image: url(./Images/Idle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 0vh;
}
.hidden {
  display: none;
}

.ironhack {
  width: 5rem;
  position: absolute;
  top: 0;
}
