* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
p {
  font-size: 2rem;
  margin-right: 1rem;
}
#background {
  background-image: url(./Images/Planet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  animation: slide3 15s linear infinite;
}

@keyframes slide3 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -450px 0px;
  }
}
#floor {
  /* display: flex; */
  /* border: 1px solid aqua; */
  width: 45vw;
  height: 11vh;
}

#bottomFloor {
  /* border-top: 3px solid rgb(230, 66, 219); */
  width: 32vw;
  height: 11%;
}
#endFloor {
  /* border: 1px solid aqua; */
  width: 26vw;
  height: 15vh;
}
.actionPart {
  /* border: 1px solid rgb(251, 0, 255); */
  width: 100vw;
  height: 45vh;
  position: absolute;
  margin-bottom: 11vh;
}

.lifeAndScore {
  color: white;
  /* border: 1px solid rgb(21, 255, 0); */
  width: 15vw;
  height: 15vh;
  position: absolute;
  margin-bottom: 80vh;
  text-align: center;
  margin-left: 1rem;
}
.lifeDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero {
  position: absolute;
  width: 6rem;
  aspect-ratio: 1;
  left: 700px;
  background-image: url(./Images/Run.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 11vh;
}

.animHero {
  animation: slide 100ms 100ms infinite;
}

@keyframes slide {
  0% {
    background-image: url(./Images/Run.png);
  }
  25% {
    background-image: url(./Images/Run2.png);
  }
  50% {
    background-image: url(./Images/Run.png);
  }
  100% {
    background-image: url(./Images/Run2.png);
  }
}

.zombie {
  position: absolute;
  /* height: 6rem; */
  width: 6rem;
  aspect-ratio: 1;
  /* border-radius: 100vh; */
  /* border: 2px solid black; */
  /* top: calc(89vh - 5rem); */
  left: 0px;
  /* background-color: red; */
  background-image: url(./Images/Idle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 0vh;
}

.animZombie {
  animation: slide2 500ms 500ms infinite;
}

@keyframes slide2 {
  0% {
    background-image: url(./Images/Walk.png);
  }
  25% {
    background-image: url(./Images/Walk2.png);
  }
  50% {
    background-image: url(./Images/Walk.png);
  }
  100% {
    background-image: url(./Images/Walk2.png);
  }
}

.hidden {
  display: none;
}

.ironhack {
  width: 5rem;
  position: absolute;
  top: 0;
}

.score {
  color: white;
  /* border: 1px solid rgb(58, 51, 238); */
  width: 15vw;
  height: 15vh;
  position: absolute;
  margin-bottom: 80vh;
  margin-left: 80vw;
  text-align: center;
}
.levelDisplay {
  color: white;
  /* border: 1px solid rgb(255, 255, 255); */
  width: 15vw;
  height: 15vh;
  text-align: center;
  position: absolute;
  margin-bottom: 80vh;
  margin-left: 40vw;
}

#firstScreen {
  background-image: url(./Images/Planet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
}

#finishScreen {
  background-image: url(./Images/Planet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
}

#startButton,
#finishButton {
  position: absolute;
  border: none;
  top: 70vh;
  left: 48vw;
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #7401e0);
  background-image: -moz-linear-gradient(top, #ffffff, #6721ff);
  background-image: -ms-linear-gradient(top, #ffffff, #6721ff);
  background-image: -o-linear-gradient(top, #ffffff, #6721ff);
  background-image: linear-gradient(to bottom, #ffffff, #6721ff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 1px 3px #fa61fa;
  -webkit-box-shadow: 2px 1px 3px #ffffff;
  -moz-box-shadow: 2px 1px 3px #ffffff;
  box-shadow: 2px 1px 3px #ffffff;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
  font-size: 34px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#startButton:hover,
#finishButton:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #a200ff);
  background-image: -moz-linear-gradient(top, #ffffff, #a200ff);
  background-image: -ms-linear-gradient(top, #ffffff, #a200ff);
  background-image: -o-linear-gradient(top, #ffffff, #a200ff);
  background-image: linear-gradient(to bottom, #ffffff, #a200ff);
  text-decoration: none;
  border: none;
}
